{% set baseUrl = 'entries/'~entry.getSection().handle~'/'~entry.id~(entry.slug ? '-'~entry.slug)~'/' %}

{% if entry.section.enableVersioning != true %}
	<p class="light">{{ "Please enable entry versioning for this section."|t }}</p>
{% elseif versions | length %}
<table class="data" cellpadding="0" cellpadding="0" border="0" width="100%">
	<thead>
		<th>{{ "Revision"|t }}</th>
		<th>{{ "Creator"|t }}</th>
		<th>{{ "Created"|t }}</th>
		<th>{{ "Notes"|t }}</th>
	</thead>
	<tbody>
		{% for version in versions %}
		<tr>
			<td>
			{# https://how1219-01-20.test/admin/entries/pages/73092-touchdowntribute?site=howardBailey&amp;revisionId=8273 #}

				<a href="{{ url(baseUrl~'?site=' ~ currentSiteHandle ~ '&revisionId=' ~ version.revisionId) }}">{{ "Version {num}"|t({ num: versions|length + 1 - loop.index }) }}</a>
				{% if loop.first %} <i class="light">(current)</span>
				{% elseif version.id == selectedId %} <i class="light">(selected)</i>{% endif %}
			</td>
			<td>{{ version.creator.name }}</td>
			<td>{{ version.dateCreated.uiTimestamp() }}</td>
			<td>{{ version.revisionNotes }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
	<p class="light">{{ "This entry doesn't have a version history yet."|t }}</p>
{% endif %}
